.imgContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 2rem;
}
.imgFlex {
  display: flex;
  height: 25rem;
  flex-basis: 31%;
  overflow: hidden;
}

.imgFlex img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
}
