.pageContent {
  display: flex;
  flex-direction: column;
  padding: 2rem 15rem;
}

.pageContent h2 {
  margin-bottom: 1rem;
}
.pageContent p {
  line-height: 2rem;
}

.subContent {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}
